<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>slider2</title>
  <style>
    .carousel-container {
      width: 500px;
      height: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .carousel-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>

<body>

  <div class="carousel-container">

    <img src="https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg" alt="Image 1" />
    <img src="https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2" />
    <img src="https://images.unsplash.com/photo-1519414442781-fbd745c5b497?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8N3x8fGVufDB8fHx8&w=1000&q=80" alt="Image 3" />
  </div>

  <script>
    const container = document.querySelector('.carousel-container');
    let startX, currentX = 0;

    container.addEventListener('mousedown', e => {
      startX = e.clientX;
      console.log('startx',startX)
    });

    container.addEventListener('mousemove', e => {
      if (startX !== undefined) {
        currentX = e.clientX;
        const diff = currentX - startX;
        container.style.transform = `translateX(${diff}px)`;
      }
    });

    container.addEventListener('mouseup', e => {
      const diff = currentX - startX;
      if (diff < -50) {
        // Swipe left, move to the next image
        // ...
        container.style.transform = `translateX(-${container.offsetWidth}px)`;

      } else if (diff > 50) {
        // Swipe right, move to the previous image
        // ...
        container.style.transform = 'translateX(0)';

      } else {
        // No swipe, return to original position
        container.style.transform = 'translateX(0)';
      }

      startX = undefined;
      currentX = 0;
    });

    container.addEventListener('mouseleave', e => {
      if (startX !== undefined) {
        const diff = currentX - startX;
        if (diff < -50) {
          // Swipe left, move to the next image
          // ...
          container.style.transform = `translateX(-${container.offsetWidth}px)`;

        } else if (diff > 50) {
          // Swipe right, move to the previous image
          // ...
          container.style.transform = 'translateX(0)';

        } else {
          // No swipe, return to original position
          container.style.transform = 'translateX(0)';
        }

        startX = undefined;
        currentX = 0;
      }
    });

  </script>
</body>

</html>