.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*cart.css*/
.cart-item{
  float: left;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item img{
  width: 100px;
}
.cart-item i{
  color: red;
}
.pic-name{
  width: fit-content;
  display: flex;
  align-items: center;
}
.pic-name h5{
  margin-left: 10px;
}

.place-order{ 
  width: 25%;

  background-color: rgb(226, 226, 226);
  margin-left: 10px;
  border-radius: 4px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
