.App {
  text-align: center;
}


/*cart.css*/
.def{
  width: 75%;
}
.cart-item{
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item img{
  width: 100px;
}
.pic-name{
  width: 250px;
  display: flex;
  align-items: center;
}
.pic-name h5{
  margin-left: 10px;
}
.price{
  width: 60px;
}
.qty{
  width: 35px;
  height: 35px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.plus-minus{
  width: 35px;
  height: 35px;
  background-color: inherit;
  border: 1px solid black;
}
.plus-minus:nth-child(1){
  border-radius: 4px 0 0 4px;
  color: green;
}
.plus-minus:nth-child(3){
  border-radius: 0  4px 4px 0;
  color: red ;
}
.trash{
  color: red;
}

.place-order{ 
  width: 300px;
  background-color: rgb(226, 226, 226);
  margin-left: 10px;
  border-radius: 4px;
}



/* status.js*/
.status{
  width: 100%;
  position: absolute;
  top: 30%;
}



@media (max-width:991px) {
  .abc{
    flex-direction: column;
  }
  .def{
    width: 100%;
  }
  .place-order{
    width: 100%;
    margin-left: 0;
  }

}



