*,
*::before,
*::after {
  --darkBlue: #011627;
  --red: #f71735;
  --teal: #41ead4;
  --white: #fdfffc;
  --yellow: #ff9f1c;

  --background: #fafafa;
  --bg-white-custom: rgba(255, 255, 255, 1);

  --transition: all ease-in-out 0.4s;

  /* product 2 */
  --color1: #232323;
  --color2: #fff;
  --color3: #9bdc28;
  --transitionDuration: 1s;
  /* product 2 */

  /* product 4 */
  --color-blue: #4285f4;
  /* product 4 */

  /* product 7 */
  --white-100: #fff;
  --white-200: #e4e6e7;
  --white-300: #c9cccf;
  --white-400: #a1a6aa;
  --white-500: #798086;
  --black-100: #0a0d0f;
  --black-200: #080a0c;
  --black-300: #060809;
  --black-400: #040506;
  --black-500: #020303;
  --brown-100: #d0c8c9;
  --brown-200: #b8adae;
  --brown-300: #a09293;
  --brown-400: #887778;
  --brown-500: #6d5f60;
  --text-xs: clamp(0.82rem, calc(0.8rem + 0.14vw), 0.9rem);
  --text-sm: clamp(0.91rem, calc(0.88rem + 0.14vw), 1rem);
  --text-md: clamp(1rem, calc(0.97rem + 0.14vw), 1.08rem);
  --text-lg: clamp(1.09rem, calc(1.06rem + 0.14vw), 1.18rem);
  --text-xl: clamp(1.19rem, calc(1.16rem + 0.14vw), 1.27rem);
  --text-xxl: clamp(1.28rem, calc(1.25rem + 0.14vw), 1.38rem);
  --display-xs: clamp(1.56rem, calc(1.44rem + 0.55vw), 1.94rem);
  --display-sm: clamp(1.95rem, calc(1.75rem + 0.92vw), 2.57rem);
  --display-md: clamp(2.44rem, calc(2.11rem + 1.45vw), 3.42rem);
  --display-lg: clamp(3.05rem, calc(2.55rem + 2.22vw), 4.55rem);
  --display-xl: clamp(3.82rem, calc(3.07rem + 3.32vw), 6.05rem);
  --display-xxl: clamp(4.77rem, calc(3.67rem + 4.86vw), 8.05rem);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  /* product 7 */

  /* notused but can be useful */
  --color-red: #db4437;
  --color-yellow: #f4b400;
  --color-green: #0f9d58;
  /* notused but can be useful */

  list-style: none;
  /* list-style-type: none; */
  text-decoration: none;
}
#root {
  position: relative;
}
/******************************** basics COMMON ***********************************/

::-moz-selection {
  /* Code for Firefox */
  background: #ffc107;
  color: #fff;
}
::selection {
  background: #ffc107;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  /* border-radius: 10px; */
}

.shadow-s {
  box-shadow: var(--shadow-small);
}
.shadow-m {
  box-shadow: var(--shadow-medium);
}
.shadow-l {
  box-shadow: var(--shadow-large);
}
.pointer {
  cursor: pointer;
}
.notAllowed {
  cursor: not-allowed !important;
}
.grayscale {
  filter: grayscale(1);
}

.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}

.clr-red {
  color: var(--red) !important;
}

.font-weight-100 {
  font-weight: 100;
}

a:hover {
  color: #070c17;
  text-decoration: none;
  /* letter-spacing: 1px; */
  /* transform: scale(1.01); */
  /* transform: none; */
}
a,
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  color: #fff;
}
a {
  color: #414141;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: balance;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.h70 {
  height: 70vh;
}

.no-data-img {
  width: 80%;
  mix-blend-mode: darken;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--yellow) !important;
}

.shoppittBtn {
  color: var(--black-500);
  font-weight: 500;
  font-size: 20px;
  background: inherit;
  padding: 4px 32px;
  border: 3px solid var(--black-500);
  transition: var(--transition);
}
.shoppittBtn:hover {
  color: var(--yellow);
  border: 3px solid var(--yellow);
}
.shoppittBtnR {
  color: var(--black-500);
  font-weight: 500;
  font-size: 20px;
  background: inherit;
  padding: 4px 24px;
  border: 3px solid var(--black-500);
  transition: var(--transition);
}
.shoppittBtnR:hover {
  color: var(--red);
}
/***************************** basics COMMON *********************************************/

.textclip-container {
  height: 70vh;
  background-color: #1d2a3a;
  display: grid;
  place-items: center;
}
.textClip {
  font-size: 8px;
  line-height: 10px;
  background: url("./../images/newImg/collections/iphone5.png") fixed center
    no-repeat;
  /* background: url("./../images/thebaglogo.png") center no-repeat; */
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}

/*********************************************** LOADER ************************************************* */
.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.inProgressLoader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #303030a8;
  z-index: 10000;
}
/*********************************************** LOADER ************************************************* */

/*********************************************** custom LOADER ************************************************* */
.custom-loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, #766df4 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 100% 50%;
  background: radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d3 2s infinite linear;
}
@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
/*********************************************** custom LOADER ************************************************* */

/*********************************************** bag loader ************************************************* */
.loader_container {
  height: 100%;
  min-height: 70vh;
  /* background-color: #ffffff; */
  display: grid;
  place-items: center;
}
.line {
  width: 100px;
  height: 3px;
  background-color: #e1e1e1;
  position: relative;
  overflow: hidden;
}
.mover {
  width: 40%;
  height: inherit;
  position: absolute;
  background-color: #ffd53d;
  animation: leftRight 2s infinite linear;
}
@keyframes leftRight {
  0% {
    left: -30%;
  }
  50% {
    left: 96%;
  }
  100% {
    left: -30%;
  }
}
/*********************************************** bag loader ************************************************* */

/************************************************ BAG LOGO ************************************************/
.bag-container {
  width: 300px;
  height: 300px;
  /* background-color: #e5e5e5; */
  display: grid;
  place-items: center;
  /* to place it in background with animation */
  /* position: absolute;
  right: 10%; */
  animation: float 3s infinite ease-in-out;
  transition: all ease;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0);
  }
}
.bag {
  width: 100px;
  height: 88px;
  z-index: 1;
  position: relative;
  background-color: #ffc107;
  border: 3px solid black;
  transform: perspective(314px) rotateX(10deg);
  box-shadow: 1px -3px 0px #e5e5e5;
  box-shadow: 1px -2px 0px #dedede, 4px -5px 0px #000000;
  /* 2px -2px 0px #dedede, 5px -5px 0px #000000 */
}
.bag::before,
.bag::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 3px;
}
.bag::before {
  top: 6%;
  left: 7%;
}
.bag::after {
  top: 6%;
  right: 7%;
}
.handle {
  width: 80px;
  height: 80px;
  /* background-color: #e5e5e5; */
  border-radius: 50%;
  position: absolute;
  bottom: 53%;
  /* left: 9%; */
  left: 13%;
  border: 3px solid black;
}
.glass {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}
/************************************************ BAG LOGO ************************************************/

/*---------------------------------------------- NAVBAR ---------------------------------------------------*/
.header-top {
  background-color: #ffc107;
  color: #fff;
  padding: 0.8rem 2rem;
}
.nav-link span {
  /* opacity: 1; */
  display: block;
  transform: translate(0, 0);
  transition: all 0.3s ease-in-out;
}
.nav-item input[type="search"] {
  min-width: 400px;
  border-radius: 8px;
  border: 1px solid grey;
}
.nav-item input[type="search"]:focus-visible {
  border: 2px solid #ffc107;
  outline: none;
}
/* .nav-item i {
  position: absolute;
  top: 37%;
  right: -18%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav-item:hover i {
  top: 36%;
  right: 38%;
  opacity: 1;
} */
.nav-item:hover .nav-link span {
  transform: translate(0, -19px);
  opacity: 0;
}
.w3-badge {
  position: absolute;
  display: block;
  transform: translate(13px, -28px);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 10px;
  padding: 0;
}

/* search results */
.search-dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 100%;
  position: absolute;
  top: 54px;
  background: #fff;
  box-shadow: var(--shadow-small);
  min-height: 74px;
  max-height: calc(100vh - 100px);
  overflow: auto;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
}
.search-dropdown::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.search-dropdown::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
.search-dropdown::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 10px;
}
.search-dropdown section {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  text-align: unset;
  white-space: unset;
}
.search-dropdown img {
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
}
.no-item,
.custom-loader {
  position: relative;
  top: 25px;
  text-align: center;
}
.custom-loader {
  margin: auto;
}

.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000008c;
  z-index: 999;
}

.categoryListsHolder {
  position: absolute;
  right: 0px;
  display: flex;
  border-radius: 0.375rem;
}
.withoutParentUl {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.withParentUl {
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: rgb(245, 245, 245);
}
.child-category {
  display: block;
  width: 150px;
  position: absolute;
  top: 0;
  right: -148px;
  height: 100%;
  transform: translateZ(-10px);
  z-index: 9 !important;
}
.child-category li a {
  text-transform: capitalize;
}
.dropdownCategoryUL {
  right: 0;
  transform-style: preserve-3d;
  max-width: 540px;
  position: static !important;
}
.dropdownCategoryUL li:hover {
  background-color: #e9ecef;
}
.dropdownCategoryUL li a:hover {
  background-color: unset !important;
}
.parentCategoryList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentCategoryList span {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(16px, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' style='fill: %23adadad'%3E%3Cpath d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
  width: 6px;
  height: 9px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
}
.parentCategoryList:hover span {
  opacity: 1;
  left: 0;
  /* transform: translate(0px,-50%); */
}
.parentCategoryList section {
  transform: translateX(0);
  transition: var(--transition);
  z-index: 0;
}
.parentCategoryList:hover section {
  /* transform: translateX(12px); */
  padding-left: 1.8rem;
  padding-right: 0.2rem;
}
.dropdownCategoryUL li a {
  text-transform: capitalize;
}
/* to make dropdown visible on hover */
.dropdown:hover > div .dropdownCategoryUL {
  display: block;
  /* grid-template-columns: repeat(2, 1fr); */
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown:hover > .profileDropdownUL {
  display: block;
}
.profileDropdownUL {
  right: 0;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #ffffff00;
  z-index: 998;
}
/*---------------------------------------------- NAVBAR ---------------------------------------------------*/

/*---------------------------------------------- FOOTER ---------------------------------------------------*/
.t-bg-secondary {
  background: var(--darkBlue);
}
.footer-mid,
.footer-top {
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.footer-mid ul {
  padding-left: 0;
}
.footer-mid a:hover {
  color: #ffd53d;
}
.footer-mid a {
  color: #fff;
}
.follow {
  justify-content: space-between;
}
.t-follow-link {
  padding: 10px;
  /* background-color: #4396da; */
  border-radius: 4px;
  border: 1px solid #4396da;
  color: white;
  transition: all 0.3s;
}
.t-follow-link:hover {
  color: #4396da !important;
}

.t-pt-40 {
  padding-top: 40px;
}
.t-pb-40 {
  padding-bottom: 40px;
}
.t-mb-30 {
  margin-bottom: 30px;
}
.t-mr-16 {
  margin-right: 16px;
}
.brand h6 {
  font-size: 21px;
  color: #fff;
  font-weight: 700;
}
/*---------------------------------------------- FOOTER ---------------------------------------------------*/

/*-------------------====================------- TOAST --------------------------==============-----------*/
.toastContainer {
  position: fixed;
  bottom: 25px;
  right: 30px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  max-width: 350px;
  z-index: 9999;
}
.toastContainer.active {
  transform: translateX(0%);
}
.fa-circle-check {
  color: var(--color-green);
}
.fa-triangle-exclamation {
  color: var(--color-red);
}
/* .toastContainer i {
  margin-left: 20px;
} */
/*---------------=====================----------- TOAST --------------------======================----------------*/

/***************--------------------*************** ORDER LIST **************-------------------***************/
.no-item-block span {
  width: 25%;
}
.no-item-img {
  width: 50vw;
  max-width: 600px;
}
.order-lis-imgs {
  width: 100px;
}
.order-lis-imgs img {
  max-height: 38px;
  /* width: 44px; */
  border-radius: 0.375rem;
}
.order-lis-imgs span {
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
  height: 40px;
  width: 44px;
  display: grid;
  place-items: center;
}
.order-lis-imgs div {
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
  max-height: 40px;
  height: 40px;
  width: 44px;
  display: grid;
  place-items: center;
}
.order-lis-imgs .ifOne {
  width: 88px;
  max-height: 80px;
  height: 80px;
}

/***************--------------------*************** ORDER LIST **************-------------------***************/

/******************************************** signin.js **********************************************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.signin .modal-dialog {
  min-width: 70vw;
}
.signin .modal-content {
  min-height: 75vh;
}
.signin #closeSignin {
  width: fit-content;
  position: absolute;
  right: 0px;
  width: 22px;
  height: 22px;
  border-bottom-left-radius: 9px;
  background: var(--yellow);
  z-index: 3;
}
.continue-with span {
  background: white;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}
.continue-with section {
  width: 100%;
  height: 0.5px;
  background: #bac2cc;
  position: absolute;
  top: 50%;
}

.signup-form,
.signin-form {
  transition: var(--transition);
  position: absolute;
  width: 50%;
  padding: 0px 50px;
}
.signin-form {
  right: 0;
  opacity: 1;
}
.signup-form {
  left: 0;
  opacity: 1;
}
.signin-form h5 {
  text-align: center;
}
/******************************************** signin.js **********************************************/

/******************************************** phone otp **********************************************/
.card {
  transition: all 0.3s;
}

.card h6 {
  color: red;
  font-size: 20px;
}

.inputs input {
  width: 40px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.card-2 {
  background-color: #fff;
  padding: 10px;
  width: 350px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  position: absolute;
  border-radius: 5px;
}

.card-2 .content {
  margin-top: 50px;
}

.card-2 .content a {
  color: red;
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #ffd53d;
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: red;
  border: 1px solid red;
  width: 140px;
}

.verification-code {
  max-width: 300px;
  position: relative;
  margin: 50px auto;
  text-align: center;
}
.control-label {
  display: block;
  margin: 40px auto;
  font-weight: 900;
}
.verification-code--inputs input[type="text"] {
  border: 2px solid #e1e1e1;
  width: 46px;
  height: 46px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
/******************************************** phone otp **********************************************/

/*********************** USER ************************************ */
.user-form {
  box-shadow: var(--shadow-small);
  background-color: #fff;
}
.skip {
  position: absolute;
  right: 0;
  top: -22px;
  cursor: pointer;
}

.user-form form > div {
  position: relative;
  margin-top: 28px;
}
.user-form label {
  position: absolute;
  top: -28%;
  left: 10px;
  background: #fff;
  padding: 0 10px;
}

.user-form input:focus label,
.user-form input:focus-within label {
  background: red;
}

.avatar-container {
  position: relative;
}
.avatar-edit-btn {
  max-height: 223px;
  width: 223px;
  height: 100%;
  position: absolute;
  top: 0;
  color: #fff;
  display: grid;
  place-items: center;
  background: #c2bbbb80;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
#avatarModal img {
  border-radius: 50%;
  transform: scale(1);
  /* transition: all ease-in 0.2s; */
  cursor: pointer;
}
#avatarModal img:hover {
  transform: scale(1.1);
}
.slectedAvatar {
  border: 2px solid var(--color-yellow);
}
/*********************** USER ************************************ */

/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
.gapBtw {
  margin-top: 70px;
  margin-bottom: 60px;
}
/* BANNER SLIDER */
.main-banner {
  height: 70vh;
}
.main-banner .slide {
  height: inherit;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.main-banner .slide img {
  height: inherit;
  width: fit-content;
  height: 70vh;
}
.main-banner .slide1 {
  background-color: #00abe1;
  background: linear-gradient(180deg, #c4c4c4, transparent);
}
.main-banner .slide2 {
  background-color: var(--color-yellow);
  background: linear-gradient(180deg, var(--color-yellow), transparent);
}
.main-banner .slide3 {
  background-color: var(--color3);
  background: linear-gradient(180deg, var(--color3), transparent);
}
.main-banner .slide4 {
  background-color: #000;
  background: linear-gradient(180deg, #000, transparent);
}

.slide1 h2 {
  color: #262626;
  color: #4a4a4a;
}
.slide1 p span,
.slide4 p span {
  color: var(--yellow);
  font-weight: 500;
  text-wrap: wrap;
}

/* dots customized */
.main-banner .slick-dots {
  bottom: 12px;
  background: #80808052;
  width: fit-content;
  left: calc(50% - 45px);
  border-radius: 28px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
.slick-dots li button:before {
  line-height: 23.3px !important;
  font-size: 10px !important;
}
.slick-arrow {
  display: none !important;
}
/* BANNER SLIDER */

/* STORE DOOR */
.storedoor {
  height: 400px;
  background: linear-gradient(180deg, #a066be, #fff8e100);
  background: linear-gradient(155deg, #a066be, #9e1ce3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.storedoor .text {
  font-size: 32px;
  font-style: oblique;
  color: rgb(228, 228, 228);
  font-weight: 900;
}
.storedoor .doorImg {
  width: 250px;
  height: 400px;
  background: url("./../images/newImg/collections/storeDoor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* STORE DOOR */

/* CART Banner */
.cartBanner {
  height: 400px;
  background: linear-gradient(0deg, #ffb300, #fff8e100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.cartBanner .text {
  font-size: 32px;
  font-style: oblique;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.cartBanner .cartImg {
  width: 250px;
  height: 400px;
  background: url("./../images/newImg/collections/3dCart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* CART Banner */

/*-------------------------- products --------------------------*/
.card2 {
  border: none !important;
  /* box-shadow: var(--shadow-medium) !important; */
  background-color: inherit;
  padding-bottom: 25px;
}
.card2.withborder {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  box-shadow: var(--shadow-medium) !important;
}
.card-tag {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #ec3b3b;
  color: #ffffff;
  padding: 3px 10px;
  z-index: 1;
}

.card2 .card-body {
  position: relative;
  padding: 10px;
}
.card2 .product-catagory {
  display: block;
  font-size: 12px;
  /* font-weight: 700; */
  text-transform: capitalize;
  margin-top: 12px;
  margin-bottom: -2px;
}
.card2 .card-body .title {
  text-wrap: unset;
  color: unset;
}

.card2 .card-body .title a {
  display: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card2 .product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--black-300);
  text-decoration: none;
  transition: 0.3s;
}
.card2 .product-bottom-details {
  border-top: 1px solid #d6d6d6;
  padding-top: 3px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card2 .product-price {
  font-size: 18px;
  font-weight: 600;
}
.card2 .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  color: #ff4460;
}
.extra-small {
  font-size: 10px;
}
.discount-percent {
  background-color: var(--yellow);
  color: #fff;
  font-size: 14px;
  padding: 0 4px;
  display: inline-flex;
  border-radius: 1px;
}
.card2 .product-links span,
.card2 .product-links button {
  display: inline-block;
  margin-left: 5px;
  color: var(--white-400);
  transition: 0.3s;
  font-size: 17px;
  cursor: pointer;
}
.card2 .product-links span:nth-child(1):hover {
  color: #f52544;
}
.card2 .product-links button:nth-child(2):hover {
  color: var(--yellow);
}
/* rating stars starts */
/* .rating-stars {
  width: 100%;
  background: #00000082;
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: var(--transition);
}
.card2:hover .rating-stars {
  top: -26px;
  z-index: 0;
}
.fa-star,
.fa-star-half-stroke {
  color: var(--yellow);
} */
/* rating stars starts */

/* for related products */
.withborder .product-price {
  font-size: 12px;
}
.withborder .product-price .discount-percent {
  font-size: 10px;
}
.relatedProducts h4 {
  background: var(--yellow);
  width: fit-content;
  padding: 4px 10px;
  color: var(--white);
  transform: skewY(175deg) translateX(10px);
  transition: var(--transition);
}
.relatedProducts h4:hover {
  background: inherit;
  color: var(--yellow);
  border-left: 4px solid var(--yellow);
  transform: skewY(180deg) translateX(20px);
}
/* .slick-prev:before, .slick-next:before{
  color: #ababab !important;
} */
/* .slick-dots {
  bottom: -5px !important;
} */

/*-------------------------- products --------------------------*/

/* PRODUCT PAGE */
.navigation-q span {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' style='fill: %23adadad'%3E%3Cpath d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
  width: 6px;
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  padding: 0 4px;
}

.p-img-sticky {
  position: sticky;
  top: 90px;
  height: fit-content;
}
.additional-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.additional-images img {
  border: 1px solid #d7d7d7;
  margin: 2px;
}
.selected-border {
  border: 1px solid var(--yellow) !important;
  box-shadow: var(--shadow-large);
}
.outOfStock {
  display: grid;
  place-items: center;
  color: var(--red);
  font-weight: 600;
  margin-right: 10px;
}
.buy-btn,
.cart-btn {
  background-color: var(--color-yellow);
  color: #fff;
}
.wishlist-btn {
  background-color: white;
  color: grey;
}
.offers p,
.services p {
  text-wrap: pretty;
}
.offers h5,
.services h6,
.description h5 {
  text-decoration: underline;
}
.description li {
  display: flex;
  text-wrap: wrap;
}
.description .disc {
  transform: translateX(-12px);
}
/* PRODUCT PAGE */

/*,,,,,,,,,,,,,,,,,,,,,,,/ product 1 \,,,,,,,,,,,,,,,,,,,,,,,,*/

.box {
  background: var(--bs-gray-200);
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-medium);
  transition: var(--transition);
}
.bx1,
.bx3 {
  z-index: -1;
  position: relative;
}
.bx1 {
  transform: scale(0.9) translateX(130px);
}
.bx3 {
  transform: scale(0.9) translateX(-130px);
}
.bx:hover .bx1 {
  transform: scale(1) translateX(0px);
}
.bx:hover .bx3 {
  transform: scale(1) translateX(0px);
}
.content {
  display: flex;
  justify-content: space-between;
}

/* Left Side:Start */
.left {
  display: block;
  width: 100%;
  height: fit-content;
  min-width: 250px;
}
.left .product_img {
  height: 300px;
  /* width: 230px; */
  margin: 10px;
  border-radius: 5px;
  background-size: cover;
}
.pimg1 {
  background: url("./../images/newImg//collections/electronics-yellow1.jpg")
    no-repeat;
  background-position: center;
}
.p1-bg {
  background: #fcc21a;
  margin: 10px;
  border-radius: 5px;
}
.pimg2 {
  background: url("./../images/newImg//collections/electro-grey-removebg-preview.png");
}
.pimg3 {
  background: url("./../images/newImg//collections/electronics-yellow2.jpg")
    no-repeat;
  background-position: center;
}
.product_details {
  text-align: left;
  margin: 0 10px 10px;
  padding: 5px;
}
.product_details .title {
  font-size: 1.3em;
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_details .discription {
  margin-top: 2px;
  font-size: 0.8em;
  color: gray;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.product_details .pricing {
  margin-top: 4px;
  font-size: 1.1em;
  font-weight: 600;
  white-space: pre;
  margin-bottom: 0px;
}
.product_details .pricing span {
  font-weight: 500;
}
.product_details .pricing .price_original {
  text-decoration: line-through;
  font-size: 0.7em;
  font-weight: 400;
  color: gray;
}
.product_details .pricing .offer {
  /* color: #03ac13; */
  color: #989898;
  font-weight: 600;
}
.product_details .other {
  font-size: 0.8em;
  color: grey;
}
/* Left Side:End */

/* Right Side:Start */
/* .right {
  display: block;
}
.right .product_description {
  text-align: left;
  margin: 30px 20px;
}
.product_description h4 {
  font-size: 0.9em;
  font-weight: 900;
  margin-bottom: 20px;
}
.product_description p {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 15px;
}
.product_description .highlight {
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_description .special {
  font-size: 0.85em;
} */
/* Right Side:End */

/* Responsiveness:Start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .box .content {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  }
  .box .product_img {
    /* width: calc(100vw - 6%) !important; */
    height: 225px !important;
  }
  h4.title {
    font-size: 1em !important;
  }

  p.discription {
    font-size: 0.7em !important;
  }
  p.other {
    font-size: 0.7em !important;
  }
}
/* Responsiveness:End */
/*,,,,,,,,,,,,,,,,,,,,,,,/ product 1 \,,,,,,,,,,,,,,,,,,,,,,,,*/

/*,,,,,,,,,,,,,,,,,,,,,,,/ product 2 \,,,,,,,,,,,,,,,,,,,,,,,,*/
.cardN {
  background-color: var(--color1);
  color: var(--color2);
  width: 320px;
  height: 450px;
  letter-spacing: 1px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 'Nike' label in the background */
.cardN::before {
  color: var(--color3);
  color: #f4f4f4;
  width: fit-content;
  height: fit-content;
  font-size: 200px;
  font-weight: bold;
  font-style: italic;
  opacity: 15%;
  content: attr(data-category);
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* Circle */
.cardN::after {
  background-color: var(--color3);
  background-color: #ffb300;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: 0;

  /* Transition */
  transition-duration: calc(var(--transitionDuration) / 2);
  transition-property: width, height, transform;
  transition-timing-function: ease-in-out;

  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(45%, -45%);
}

.cardN:hover::after {
  width: 500px;
  height: 500px;
  transform: translate(30%, -62%);
}

.card__img {
  width: 80%;
  /* height: 130px; */
  z-index: 1;
  transition: top var(--transitionDuration);

  /* Position */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cardN:hover .card__img {
  top: 24%;
}

.card__title {
  font-weight: 600;
  transition: top var(--transitionDuration);
  position: absolute;
  /* left: 50%; */
  top: 80%;
  /* transform: translateX(-50%); */
  max-width: 250px;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardN:hover .card__title {
  top: 50%;
}

.card__content {
  height: 70px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  transition: top var(--transitionDuration),
    opacity var(--transitionDuration) calc(var(--transitionDuration) / 2);

  /* Position */
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardN:hover .card__content {
  opacity: 100%;
  top: 70%;
}

.card__sizeContainer {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__sizeNumber {
  background-color: var(--color2);
  color: var(--color1);
  width: 26px;
  height: 26px;
  padding: 5px 7px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__sizeNumber:hover {
  background-color: var(--color3);
}

.card__colorContainer {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__colorCircle {
  background-color: var(--color2);
  color: var(--color1);
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.card__colorCircle:hover {
  outline: solid 2px var(--color2);
}

.card__link {
  width: 80%;
  text-align: center;
  background-color: var(--color2);
  color: var(--color1);
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  letter-spacing: 0px;
  transition: top var(--transitionDuration), letter-spacing 0.4s;

  /* Position */
  position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
}

.cardN:hover .card__link {
  top: 88%;
}

.card__link:hover {
  letter-spacing: 1px;
}
/*,,,,,,,,,,,,,,,,,,,,,,,/ product 2 \,,,,,,,,,,,,,,,,,,,,,,,,*/

/*,,,,,,,,,,,,,,,,,,,,,,,/ product 3 \,,,,,,,,,,,,,,,,,,,,,,,,*/

.card-3 {
  max-width: 30em;
  display: flex;
  flex-direction: row;
  background-color: #696969;
  border: 0;
  border-radius: 0.375rem;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 3em auto;
  color: #fff;
}
.card-3 img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card-3 .card3-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card-3 .card3-body .text-section {
  max-width: 60%;
}
.card-3 .card3-body .cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.card-3 .card3-body .cta-section .btn {
  padding: 0.3em 0.5em;
}

@media screen and (max-width: 475px) {
  .card-3 {
    font-size: 0.9em;
  }
}
/*,,,,,,,,,,,,,,,,,,,,,,,/ product 3 \,,,,,,,,,,,,,,,,,,,,,,,,*/

/*,,,,,,,,,,,,,,,,,,,,,,,/ product 4 \,,,,,,,,,,,,,,,,,,,,,,,,*/
.blackCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mini-card {
  user-select: none;
  width: 100%;
  height: 111px;
  border-radius: 12px;
  background-color: transparent;
  margin: 5px;
}

.media-image {
  background-image: url("http://pngimg.com/uploads/headphones/headphones_PNG7644.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 24%;
  background-color: var(--color-blue);
  background-color: #151515;
  overflow: hidden;
  z-index: 3;
}

.mdc-card__media--square {
  border-radius: inherit;
}

.mini-card .card-info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.mini-card .card-info > h1 {
  margin: 1.2rem 1rem 0.6rem 1.6rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  z-index: 1;
  max-width: 60%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.mini-card .card-info > a {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  border: 2px solid var(--color-yellow);
  border-radius: 6px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.8rem 1rem 1rem 1.6rem;
  z-index: 1;
}

.mini-card .card-info > h3 {
  position: absolute;
  /* transform: translate(0.6rem, 38%); */
  left: 0.8rem;
  top: 1.4rem;
  font-size: 3rem;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  opacity: 0.1;
  width: fit-content;
  /* height: 100%; */
  z-index: 0;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-weight: 700;
}
/*,,,,,,,,,,,,,,,,,,,,,,,/ product 4 \,,,,,,,,,,,,,,,,,,,,,,,,*/

/*,,,,,,,,,,,,,,,,,,,,,,,/ RIPPLE \,,,,,,,,,,,,,,,,,,,,,,,,*/
.button5 {
  position: relative;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  cursor: pointer;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/*,,,,,,,,,,,,,,,,,,,,,,,/ RIPPLE \,,,,,,,,,,,,,,,,,,,,,,,,*/

/* PRODUCT 7 */
main {
  overflow: hidden;
}

/* .container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
} */

/* .text-xs {
  font-size: var(--text-xs);
  line-height: inherit;
}
.text-sm {
  font-size: var(--text-sm);
  line-height: inherit;
} */
.text-md {
  font-size: var(--text-md);
  line-height: inherit;
}
/* .text-lg {
  font-size: var(--text-lg);
  line-height: inherit;
}
.text-xl {
  font-size: var(--text-xl);
  line-height: inherit;
} */
.text-xxl {
  font-size: var(--text-xxl);
  line-height: inherit;
}
/* .font-light {
  font-weight: 300;
} */
.font-regular {
  font-weight: 400;
}
/* .font-medium {
  font-weight: 500;
} */
.font-semi {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
/* .font-bolder {
  font-weight: 800;
} */
/* .font-black {
  font-weight: 900;
} */
.badge {
  font-family: inherit;
  font-size: var(--text-xs);
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 1rem;
  text-transform: unset;
}
/* .badge-primary {
  padding: 0.2rem 0.65rem;
  color: var(--white-100);
  background-color: var(--brown-500);
} */
.badge-darken {
  padding: 0.2rem 0.65rem;
  color: var(--white-100);
  background-color: var(--black-500);
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: var(--text-sm);
  font-weight: normal;
  line-height: inherit;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease;
}
/* .btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
} */
.btn-primary {
  padding: 0.65rem 1.75rem;
  color: var(--white-100);
  background-color: var(--brown-500);
  box-shadow: var(--shadow-medium);
}
.btn-darken {
  padding: 0.65rem 1.75rem;
  color: var(--white-100);
  background-color: var(--black-500);
  box-shadow: var(--shadow-medium);
}
.btn-neutral {
  padding: 0.65rem 1.75rem;
  color: var(--red);
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
}

.wrapper-column {
  display: grid;
  row-gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}
@media only screen and (min-width: 48rem) {
  .wrapper-column {
    grid-template-columns: repeat(2, minmax(0, 26rem));
    align-content: center;
    justify-content: center;
    /* column-gap: 4rem; */
    column-gap: 6rem;
    margin-top: 2rem;
  }
}
.wrapper-figure {
  position: relative;
  align-items: center;
  justify-self: center;
}
.wrapper-figure::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  z-index: -2;
  width: 100%;
  border-radius: 50%;
  padding-bottom: 100%;
  translate: -50% -50%;
  background-color: var(--brown-300);
}
.wrapper-image {
  display: block;
  max-width: 17rem;
  height: auto;
  scale: 1.55;
  rotate: 336deg;
  /* translate: 1rem; */
  filter: drop-shadow(0px 8px 8px rgba(15, 15, 15, 0.4));
}
@media only screen and (min-width: 48rem) {
  .wrapper-image {
    max-width: 20rem;
  }
}
@media only screen and (min-width: 64rem) {
  .wrapper-image {
    max-width: 24rem;
  }
}
.wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  margin-block: 4rem 2rem;
}
.wrapper-inform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.75rem;
}
.wrapper-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-action {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}
.wrapper-action .btn-neutral {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
}
.wrapper-detail .sizes,
.wrapper-detail .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap: 0.5rem;
}
.wrapper-detail .sizes .sizes-list {
  display: flex;
  column-gap: 0.25rem;
  padding-right: 1.5rem;
}
/* .wrapper-detail .sizes .sizes-list .sizes-item {
  font-family: inherit;
  font-size: 1rem;
  line-height: 2rem;
  cursor: pointer;
  user-select: none;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
} */
.wrapper-detail .sizes .sizes-list .sizes-item {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.wrapper-detail .sizes .sizes-list .sizes-item section {
  cursor: not-allowed;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.wrapper-detail .sizes .sizes-list .sizes-item:nth-child(2) section {
  background: #9c27b0;
}
.wrapper-detail .sizes .sizes-list .sizes-item:nth-child(3) section {
  background: #e53935 !important;
}
.wrapper-detail .sizes .sizes-list .sizes-item:nth-child(4) section {
  background-color: #ffb300;
}
.wrapper-detail .sizes .sizes-list .sizes-item.is-select {
  border: 2px solid var(--white-400);
}
.wrapper-detail .sizes .sizes-list .sizes-item.is-select section {
  font-weight: 500;
  color: var(--white-100);
  background: #0f1011;
  cursor: pointer;
}
/* PRODUCT 7 */

/* XBOX */
.xbox {
  width: 100%;
  height: 350px;
  background: url("./../images/newImg/collections/xbox-banner.png") no-repeat
    center center/cover;
  margin-bottom: 20px;
}
.xbox-content,
.filler-content {
  width: 47%;
  padding: 50px 0 0 30px;
}
.xbox-btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  z-index: 1;
  position: relative;
}
.xbox-btn i {
  position: relative;
  top: 1px;
  left: 1px;
}
.hover-y:hover {
  color: var(--yellow);
}
/* XBOX */

/* MACINTOSH */
.page {
  height: 70vh;
  position: relative;
  background-color: #f1f4e3;
}
.page .right {
  background-color: #e38931;
  position: absolute;
  width: 55vw;
  height: 100%;
  right: 0;
  border-radius: 100% 0 0 0;
}
.page h1 {
  font-family: "Red Hat Mono", monospace;
  color: #534935;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-10%, -40%);
  width: 350px;
  font-size: 3rem;
}
.page-text {
  font-family: "Red Hat Mono", monospace;
  color: #534935;
  position: absolute;
  top: 58%;
  left: 7%;
  transform: translate(0%, -58%);
  font-size: 12px;
}
.page button {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translate(-5%, -65%);
  border-radius: 15px;
  background-color: #e38931;
  width: 125px;
  height: 35px;
  color: white;
  border-style: none;
}
.page button:hover {
  box-shadow: 0 5px 15px #e38931;
  cursor: pointer;
}
.page .right img {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 20rem;
  transform: translate(-5%, -5%);
  transform: rotate(-20deg);
}
.page .right ul {
  display: flex;
  float: right;
  list-style-type: none;
  text-decoration: none;
  margin: 15px 15px;
  top: 50%;
  left: 60%;
  position: absolute;
  transform: rotate(-90deg);
}
.page .right ul li {
  margin: 8px;
  color: white;
  font-family: "Red Hat Mono", monospace;
  transform: uppercase;
  font-size: 10px;
}

/* MACINTOSH */

/* horizontal strip animation */
.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
  overflow: hidden;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
  position: absolute;
  top: 20%;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  /* mix-blend-mode: color-burn; */
  color: #efefefa6;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 7s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
  font-style: italic;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
/* horixonal catgeory strip animation */

/* CATEGORGORY STRIPS */

/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/

/* RESPONSIVE */
@media (max-width: 992px) {
  /* HAM MENU TOGGLE */
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler .menu-toggle .bar {
    width: 25px;
    height: 2px;
    display: block;
    background-color: #3f3f3f;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  button[aria-expanded="true"] .menu-toggle .bar:first-child {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  button[aria-expanded="true"] .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }
  button[aria-expanded="true"] .menu-toggle .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .collapsed .menu-toggle .bar {
    -webkit-transform: unset !important;
    transform: translateY(0) rotate(0) !important;
    opacity: 1 !important;
  }
  /* HAM MENU TOGGLE */

  /* NAV */
  .nav-item input[type="search"] {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .categoryListsHolder {
    position: static;
    width: fit-content;
  }
  .profileDropdownUL {
    position: static;
  }
  /* NAV */
}

@media (max-width: 768px) {
  .follow {
    justify-content: flex-start;
  }
  .follow li {
    margin-right: 10px;
  }

  /* HEADPHONE-FILLER */
  .headphone-filler {
    flex-direction: column-reverse !important;
  }
  .headphone-filler img {
    width: 100%;
  }
  /* HEADPHONE-FILLER */

  /* black cards */
  .blackCards {
    display: block;
  }
  .blackCards .m0 {
    margin-right: 0 !important;
  }
  .theLine {
    display: none !important;
  }
  /* black cards */

  /* SLICK SLIDER */
  .slick-arrow {
    display: none !important;
  }
  /* SLICK SLIDER */

  /* CART page */
  .cart-page > h6 {
    margin: 32px 0 22px 0 !important;
  }
  .cart-heading {
    display: none;
  }
  .ci-holder,
  .wi-holder,
  .ol-holder {
    padding: 0 16px !important;
    display: flex;
    justify-content: center;
  }
  .ci,
  .wi,
  .oli {
    position: relative;
    box-shadow: var(--shadow-small);
    background: #fff;
    border-radius: 4px;
    margin: 6px 0;
  }
  .wi-img,
  .ci-img {
    background: #f6f6f6;
    border-radius: 4px;
  }
  .wi-img img,
  .ci-img img {
    mix-blend-mode: multiply;
  }
  .ci-name h6 {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ci-price {
    display: none;
  }
  .ci-total,
  .ci-quantity {
    display: flex;
    justify-content: flex-end;
  }
  .ci-quantity div {
    margin-right: -4px;
  }
  .ci-remove {
    position: absolute;
    bottom: 0;
    left: 7px;
    width: fit-content;
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 10px !important;
  }
  /* CART page */

  /* ORDERLIST PAGE OLI:ORDER_LIST_ITEM*/
  .no-item-block span {
    width: 80%;
  }
  .no-item-img {
    width: 100vw;
  }
  .orderList-page > h6 {
    margin: 32px 0 22px 0 !important;
  }
  .oli {
    justify-content: space-between;
  }
  .oli-divider {
    display: none !important;
  }
  .oli-heading {
    display: none;
  }
  .oli-details > div,
  .oli-images,
  .oli-details-container {
    width: fit-content;
  }
  .oli-price {
    font-size: inherit !important;
  }
  .oli-details-container {
    padding-right: 0.5rem;
  }
  .oli-images .col-md-4 {
    padding: 0;
  }
  .oli-images a.col-md-4 {
    display: none;
  }

  /* ORDERLIST PAGE */

  /* ORDER _ITEM PAGE */
  .oi-heading {
    margin-bottom: 8px !important;
  }
  .oi-heading h6 {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-right: 12px;
  }
  .oi-heading span {
    white-space: nowrap;
  }
  .row.ms-0.border.border-1.rounded-1 {
    margin-right: 0;
  }
  .oi-other-heading {
    display: none;
  }
  .oi,
  .oi > div {
    padding-right: 0 !important;
  }
  .oi-top {
    flex-wrap: nowrap;
    justify-content: unset !important;
  }
  .oi-img {
    width: fit-content;
  }
  .oi-img .order-lis-imgs img {
    max-height: 36px;
    width: 43px;
  }
  .oi-img .order-lis-imgs div {
    max-height: 38px;
    height: 38px;
    width: 44px;
  }
  .oi-img > a {
    width: unset;
  }
  .oi-name {
    width: calc(100% - 66px);
    padding-left: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .oi-details {
    justify-content: flex-end !important;
  }
  .oi-details > div {
    width: fit-content;
    position: relative;
  }
  .oi-details > div:nth-child(1)::after {
    content: "x";
    position: absolute;
    top: 0;
    right: -3px;
  }
  .oi-details .oi-total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .oi-details .oi-total > div {
    margin: unset !important;
  }
  /* ORDER _ITEM PAGE */

  /* WISHLIST */
  .wi-page > h6 {
    margin: 32px 0 22px 0 !important;
  }

  .wList-heading {
    display: none;
  }

  .wi-divider {
    display: none !important;
  }
  .wi-detail {
    position: relative;
  }
  .wi-name h6 {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .wi-price {
    display: flex;
    justify-content: flex-end;
  }
  .wi-stock {
    position: absolute;
    top: 24px;
  }
  .wi-remove {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 11px;
  }
  .wi-remove button {
    border-radius: 4px !important;
  }
  /* WISHLIST */

  /* PRODUCT page */
  .p-img-sticky {
    position: static;
  }
  .product--left-img > .row {
    flex-direction: column-reverse;
  }
  .additional-images {
    flex-direction: row;
  }
  .additional-images img {
    width: 50px !important;
  }
  .product--right-content .post__title {
    text-wrap: unset;
  }
  .offers p,
  .services p {
    text-wrap: unset;
    margin: 0 0 8px 8px;
  }
  .description ul {
    padding-left: 24px;
  }
  .description li {
    text-wrap: wrap;
  }
  /* PRODUCT page */

  /* CATEGORY page */
  .category-page {
    margin-top: 0 !important;
  }
  .navigation-q {
    margin-top: 28px;
  }
  .card2 {
    margin: 6px 0;
    box-shadow: var(--shadow-medium) !important;
  }
  .card2.filler-img {
    box-shadow: none !important;
    background-color: #f9fafc;
  }
  .card2 img {
    width: 80%;
  }
  .card2 .card-body {
    padding: 0 1rem !important;
  }
  .product-bottom-details .product-links,
  .product-bottom-details
    .product-links
    span
    .product-bottom-details
    .product-links
    button {
    display: flex;
  }
  /* CATEGORY page */

  /* SIGNIN Modal */
  .signin .modal-dialog {
    margin: auto;
    width: 90% !important;
  }
  .signin .modal-content {
    min-height: unset;
    width: 90vw !important;
  }
  .signin #closeSignin {
    display: inline !important;
  }
  .signin .modal-body {
    flex-direction: column !important;
  }
  .signin .modal-body > div {
    width: 100% !important;
    display: flex;
    justify-content: center;
    background-color: inherit !important;
  }
  .signin .modal-body > div img {
    width: 250px;
  }
  .forms-holder {
    max-height: 386px;
    min-height: 353px;
    margin-top: 8px;
  }
  .signup-form,
  .signin-form {
    position: relative;
    width: 100%;
    padding: 0px 20px;
    justify-content: start !important;
    padding-bottom: 20px;
  }
  /* SIGNIN Modal */

  /* NABAR  */
  .nav-item input[type="search"] {
    min-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .search-dropdown {
    top: 38px;
    z-index: 1;
  }

  .categoryListsHolder {
    display: block;
    width: 100%;
    position: relative;
    border-radius: 0.375rem;
    box-shadow: var(--shadow-medium) !important;
  }
  .withoutParentUl {
    padding-bottom: 0;
    border-radius: 0 !important;
    border: 0;
  }
  .withParentUl {
    padding-top: 0;
    background-color: unset;
    border-radius: 0 !important;
    border: 0;
  }
  .dropdown:hover > .child-category-m {
    display: block !important;
    width: 100%;
    /* box-shadow: var(--shadow-small) !important; */
  }
  .parentCategoryList .grtrArrow {
    top: 14px;
  }
  .parentCategoryList:hover section {
    padding-right: 1.8rem;
    padding-bottom: 11px;
  }
  .parentCat {
    flex-direction: column;
  }
  .profileDropdownUL {
    box-shadow: none !important;
  }
  /* NABAR  */

  /* USER */
  .user-form {
    box-shadow: unset;
    background-color: unset;
    margin-top: 0 !important;
  }
  .user-form-holder {
    position: relative;
    margin: 0.25rem;
    padding: 3rem 0.25rem 3rem 0.25rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-medium);
    background-color: #fff;
  }
  .user-form-holder :nth-child(2) {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
  }
  .signout-btn {
    width: fit-content !important;
    position: absolute;
    top: 5px;
    right: 0;
    color: grey;
  }
  /* USER */

  /* ----------------------------HOMEPAGE------------------------------*/
  /* Banner */
  .main-banner,
  .main-banner .slide {
    height: 30vh;
  }
  .main-banner .slide img {
    height: 20vh;
  }
  .xbox-content {
    /* padding: 30px 0 0 0px;` */
    padding: 0px 0 0 10px;
    font-size: 12px !important;
  }
  .slide .xbox-content {
    width: 44% !important;
  }

  .xboxAd {
    position: relative;
    top: 35%;
  }
  .xbox-content h2 {
    font-size: calc(0.8rem + 0.9vw);
  }
  .xbox-content p {
    display: none;
  }
  .xbox-btn {
    font-weight: unset;
    padding: 5px 12px;
  }
  .xbox-btn .fa-chevron-right:before {
    font-size: 10px;
    margin-left: 3px;
  }

  .main-banner .slick-dots {
    display: none !important;
  }
  /* Banner */

  /* Headphone-filler */
  .filler-content {
    width: 100%;
    padding: 30px;
  }
  .filler-content > section {
    text-align: center;
  }
  .filler-content > h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 28px;
  }
  /* Headphone-filler */

  /* yellow stuff */
  .bx1,
  .bx2,
  .bx3 {
    transform: unset;
  }
  .bx:hover .bx1,
  .bx:hover .bx3 {
    transform: unset;
  }
  .box .content {
    margin: 6px 0;
  }
  /* yellow stuff */

  /* MARQUEE */
  .marquee span {
    font-size: 116px;
  }
  /* MARQUEE */

  /* store door */
  .storedoor {
    height: 310px;
  }
  .storedoor .text {
    font-size: 20px;
  }
  /* store door */

  /* footer */
  .footer-top {
    padding-bottom: 0;
    text-align: center;
  }
  .footer-top > div div:nth-child(2) {
    display: none;
  }
  /* footer */

  /* ----------------------------HOMEPAGE------------------------------*/
}

@media (max-width: 400px) {
  .order-lis-imgs {
    width: 68px;
  }
  .order-lis-imgs div {
    max-height: 32px;
    height: 34px;
    width: 34px;
  }
  .order-lis-imgs .ifOne {
    width: 34px;
    max-height: 32px;
    height: 32px;
  }
  .order-lis-imgs img {
    max-height: 34px;
    width: 32px;
  }
  .order-lis-imgs span {
    height: 32px;
    width: 34px;
  }
  .oli-details > div {
    padding-right: calc(var(--bs-gutter-x) * 0.25);
    padding-left: calc(var(--bs-gutter-x) * 0.25);
  }
}
@media (min-width: 992px) {
  .no-item-img.cart-img {
    width: 35vw;
  }
  .offers p,
  .services p {
    text-wrap: pretty;
  }
}
@media (max-width: 992px) {
  #profileDropdown {
    margin-left: 0 !important ;
  }
}
/* ---------------RESPONSIVE------------------------------------------------------------------------- */
