* {
  --darkBlue: #011627;
  --red: #f71735;
  --teal: #41ead4;
  --white: #fdfffc;
  --yellow: #ff9f1c;

  --background: #fafafa;
  --bg-white-custom: rgba(255, 255, 255, 1);

  --transition: all ease-in-out 0.4s;
}

/*********************************************** basics COMMON *************************************************************/

::-moz-selection {
  /* Code for Firefox */
  background: #ffc107;
  color: #fff;
}
::selection {
  background: #ffc107;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.display-block{
  display: block;
}

.clr-red{
  color:var(--red) !important;
}

.font-weight-100{
  font-weight: 100;
}
/*********************************************** basics COMMON*************************************************************/





/*--------------------------------- the scroll up n down animation --------------------------------- */
.text-stroke-container {
  position: absolute;
  z-index: 99;
  background: #ffeb3b;
  padding: 30px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  height: 270px;
  overflow: hidden;
}
.text-stroke-style {
  -webkit-text-stroke: 2px aquamarine;
  text-shadow: -4px 2px #fd0000;
}
.tex {
  filter: drop-shadow(4px 2px 1px black);
  color: #ffeb3b;
  font-size: 51px;
}
.te {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  font-size: 31px;
  font-weight: 900;
  color: #ffeb3b;
}

.scrollup {
  animation: scrollup 10s infinite ease-in-out;
  position: absolute;
  top: -350px;
  left: 10%;
}
@keyframes scrollup {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 350px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.scrolldown {
  animation: scrolldown 2s infinite linear;
  position: absolute;
  top: -169%;
  right: 10%;
}
.slow1 {
  animation: scrolldown 3s infinite linear;
  right: 40%;
}
@keyframes scrolldown {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 10%);
  }
}

/*--------------------------------- the scroll up n down animation --------------------------------- */

.textclip-container {
  height: 70vh;
  background-color: #1d2a3a;
  display: grid;
  place-items: center;
}
.textClip {
  font-size: 8px;
  line-height: 10px;
  background: url("./../images/newImg//products/applap_395f1832-31fa-4105-b32b-8c273816d3e76a4c.png")
    fixed center no-repeat;
  background: url("./../images/newImg//products/one1plus_6a561c17-dde7-4500-a75d-d0caf41de55800b0.png")
    center no-repeat;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}





/*********************************************** LOADER ************************************************* */
.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
/*********************************************** LOADER ************************************************* */



/************************************************ BAG LOGO ************************************************/
.bag-container {
  width: 300px;
  height: 300px;
  /* background-color: #e5e5e5; */
  display: grid;
  place-items: center;
  /* to place it in background with animation */
  /* position: absolute;
  right: 10%; */
  animation: float 3s infinite ease-in-out;
  transition: all ease;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0);
  }
}
.bag {
  width: 100px;
  height: 88px;
  z-index: 1;
  position: relative;
  background-color: #ffc107;
  border: 3px solid black;
  transform: perspective(314px) rotateX(10deg);
  box-shadow: 1px -3px 0px #e5e5e5;
  box-shadow: 1px -2px 0px #dedede, 4px -5px 0px #000000;
  /* 2px -2px 0px #dedede, 5px -5px 0px #000000 */
}
.bag::before,
.bag::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 3px;
}
.bag::before {
  top: 6%;
  left: 7%;
}
.bag::after {
  top: 6%;
  right: 7%;
}
.handle {
  width: 80px;
  height: 80px;
  /* background-color: #e5e5e5; */
  border-radius: 50%;
  position: absolute;
  bottom: 53%;
  /* left: 9%; */
  left: 13%;
  border: 3px solid black;
}
/************************************************ BAG LOGO ************************************************/





/*---------------------------------------------- NAVBAR ---------------------------------------------------*/
.header-top {
  background-color: #ffc107;
  color: #fff;
  padding: 0.8rem 2rem;
}
/*---------------------------------------------- NAVBAR ---------------------------------------------------*/



/*-------------------====================------- TOAST --------------------------==============-----------*/
.toastContainer {
  position: absolute;
  bottom: 25px;
  right: 30px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  max-width: 350px;
}
.toastContainer.active {
  transform: translateX(0%);
}
.toastContainer i {
  margin-left: 20px;
}
/*---------------=====================----------- TOAST --------------------======================----------------*/




/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
.hero-bg {
  /* background-image: url("./../images/bg.jpg"); */
  background: linear-gradient(330deg, #07ffa3, #ffc1074f);
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*-------------------------- products --------------------------*/
.card2 .card-body {
  position: relative;
}
.card-body .card-title {
  font-size: 14px;
}
.rating-stars {
  width: 100%;
  background: #00000082;
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: var(--transition);
}
.card2:hover .rating-stars {
  top: -26px;
  z-index: 0;
}

.fa-star,
.fa-star-half-stroke {
  color: var(--yellow);
}
/*-------------------------- products --------------------------*/



/*,,,,,,,,,,,,,,,,,,,,,,,/ product 1 \,,,,,,,,,,,,,,,,,,,,,,,,*/
:root {
  --color1: #53d3d1;
  --color2: #002447;
  --color3: #fbeceb;
  --color4: #feb249;
}

.box {
  background: #fbeceb;
  width: 700px;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* Left Side:Start */
.left {
  display: block;
  height: fit-content;
  min-width: 250px;
}
.left .product_img {
  height: 250px;
  width: 230px;
  margin: 10px;
  border-radius: 5px;

  background: url("https://i.postimg.cc/X799Yjd4/product-1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.product_details {
  text-align: left;
  margin: 0 10px 10px;
  padding: 5px;
}
.product_details .title {
  font-size: 1.3em;
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_details .discription {
  margin-top: 2px;
  font-size: 0.8em;
  color: gray;
}
.product_details .pricing {
  margin-top: 4px;
  font-size: 1.1em;
  font-weight: 600;
  white-space: pre;
}
.product_details .pricing span {
  font-weight: 500;
}
.product_details .pricing .price_original {
  text-decoration: line-through;
  font-size: 0.7em;
  font-weight: 400;
  color: gray;
}
.product_details .pricing .offer {
  color: #03ac13;
  font-weight: 600;
}
.product_details .other {
  font-size: 0.8em;
  color: grey;
}
/* Left Side:End */

/* Right Side:Start */
.right {
  display: block;
}
.right .product_description {
  text-align: left;
  margin: 30px 20px;
}
.product_description h4 {
  font-size: 0.9em;
  font-weight: 900;
  margin-bottom: 20px;
}
.product_description p {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 15px;
}
.product_description .highlight {
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_description .special {
  font-size: 0.85em;
}
/* Right Side:End */

/* Responsiveness:Start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 0px;
  }
  section {
    width: 100% !important;
  }
  .product_img {
    width: calc(100vw - 6%) !important;
    height: 350px !important;
  }
  h4.title {
    font-size: 1em !important;
  }
  p {
    width: 90%;
  }
  p.discription {
    font-size: 0.7em !important;
  }
  p.other {
    font-size: 0.7em !important;
  }
}
/* Responsiveness:End */
/*,,,,,,,,,,,,,,,,,,,,,,,/ product 1 \,,,,,,,,,,,,,,,,,,,,,,,,*/




/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
/*-------------------------- HOMEPAGE -------------------------------------*/
