<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>slider</title>
    <style>
      .carousel {
        width: 50vw;
    overflow: hidden;
    height: 70vh;
      }

      .carousel-inner {
        display: flex;
        transition: transform 0.3s ease;
      }

      .carousel-inner img {
        flex: 0 0 100%;
      }
    </style>
  </head>
  <body>
    <div class="carousel">
      <div class="carousel-inner">
        <img src="https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg" alt="Image 1" />
        <img src="https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image 2" />
        <img src="https://images.unsplash.com/photo-1519414442781-fbd745c5b497?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8N3x8fGVufDB8fHx8&w=1000&q=80" alt="Image 3" />
      </div>
    </div>

    <script>
      const carousel = document.querySelector(".carousel");
      const carouselInner = carousel.querySelector(".carousel-inner");
      const images = carousel.querySelectorAll("img");

      let currentImageIndex = 0;
      let isDragging = false;
      let startPosition = 0;
      let currentTranslateX = 0;

      function handleMouseDown(e) {
        isDragging = true;
        startPosition = e.clientX;
        console.log('mousedown',isDragging,startPosition)
      }

      function handleMouseMove(e) {
        console.log(isDragging)
       // if (isDragging) {
          const dx = e.clientX - startPosition;
          carouselInner.style.transform = `translateX(${currentTranslateX + dx}px)`;
          console.log('mousemove',dx)
        //}
      }

      function handleMouseUp(e) {
        isDragging = false;
        const dx = e.clientX - startPosition;
        currentTranslateX += dx;

        if (dx > 0 && currentImageIndex > 0) {
          currentImageIndex--;
        } else if (dx < 0 && currentImageIndex < images.length - 1) {
          currentImageIndex++;
        }

        const imageWidth = images[0].clientWidth;
        currentTranslateX = -currentImageIndex * imageWidth;

        carouselInner.style.transform = `translateX(${currentTranslateX}px)`;
      }

      carousel.addEventListener("mousedown", handleMouseDown);
      carousel.addEventListener("mousemove", handleMouseMove);
      carousel.addEventListener("mouseup", handleMouseUp);
    </script>
  </body>
</html>
