/*apploaded.js*/
.mainlogo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainlogo img {
  width: 120px;
}
.by {
  position: absolute;
  bottom: 0px;
}


/* navbar.js*/
.logo {
  width: 100px;
  height: 45px;
  background: url(../images/mainlogo1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* items.js*/
.grey {
  font-size: 18px;
  color: rgb(85, 85, 85);
}

/*orders.js*/
.order-box {
  width: 50%;
}

.overflowHidden {
  overflow: hidden;
  height: 100vh;
}